<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Download</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <form method="POST" enctype="multipart/form-data" action="/upload">
    <input type="file" name="myfile">
    <input type="submit" name="" value="Send">  
  </form>
  <hr>
  <body>
    <% files.forEach((file) => { %>
      <p><a href="/download/<%= file %>"><%= file %></a></p>
    <% }); %>
  </body>
</html>